.bg {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/images/background-image.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    color: #fff;
    span {
      font-family: archivo-thin;
    }
    h1{
      text-align: center;
    }
    button {
      border-radius: 5px;
      background-color: #00ad33;
      color: #fff;
      padding: 10px 30px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    .down {
      position: absolute;
    }
  }
}

@media (min-width: 1200px) {
  .container {

  h1 {
    font-size: 56px;
    letter-spacing: 3px;
  }
  span {
    font-family: archivo-thin;
    letter-spacing: 1px;
    font-size: 16px;
  }
  button{
    font-size: 14px;
  }
  .down {
    bottom: 40px;
  }
}
}
@media (max-width: 1200px) {
  .container {

  h1 {
    font-size: 56px;
    letter-spacing: 3px;
  }
  span {
    font-family: archivo-thin;
    letter-spacing: 1px;
    font-size: 16px;
  }
  button{
    font-size: 14px;
  }
  .down {
    bottom: 40px;
  }
}
}
@media (min-width: 768px) and (max-width: 990px) {
  .container {

  h1 {
    font-size: 46px;
    letter-spacing: 3px;
  }
  span {
    font-family: archivo-thin;
    letter-spacing: 1px;
    font-size: 14px;
  }
  button{
    font-size: 13px;
  }
  .down {
    bottom: 35px;
  }
}
}
@media (min-width: 400px) and (max-width: 767px) {
  .container {

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  span {
    letter-spacing: 1px;
    font-size: 10px;
  }
  button{
    font-size: 12px;
  }
  .down {
    bottom: 30px;
  }
}
}
@media (max-width: 400px){
  .container {

  h1 {
    font-size: 25px;
    letter-spacing: 3px;
  }
  span {
    letter-spacing: 1px;
    font-size: 10px;
  }
  button{
    font-size: 12px;
  }
  .down {
    bottom: 30px;
  }
}

}